{% extends "base.jinja2" %}

{% block title %}500{% endblock %}
{% block main %}
<div class="container d-flex justify-content-center align-items-center mx-auto">
  <div class="mainwrap mt-5" id="notfound">
    <div class="card p-3 border-0 text-dark">
        <h3>Oops, something went wrong</h3>
        <div id="notfoundwrap">
          <p class="text-secondary">
            We apologize for the inconvenience. It looks like something went wrong on our end.
          </p>
        </div>
        <img 
        src="{{ url_for('static', filename='img/error.png') }}" 
        height="250"
        class="m-auto mt-5 mb-3"
        >
    </div>
  </div>
</div>
{% endblock %}