{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block main %}
<div class="container d-flex justify-content-center align-items-center mx-auto">
  <div class="card mt-5 shadow p-5">
    <img 
    src="{{ url_for('static', filename='img/login.png') }}" 
    class="img-responsive rounded mx-auto d-block mb-3" 
    alt="Lockup" 
    height="180"
    >
    <form  action="/accounts/login" method="post">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input 
        class="form-control" 
        autocomplete="off" 
        autofocus id="username" 
        name="username" 
        placeholder="Username" 
        type="text" 
        >
      </div>
      <div class="mb-3">
        <input 
        class="form-control" 
        type="password" 
        name="password" 
        placeholder="Password" 
        id="password" 
        required
        >
      </div>
      <div class="d-grid gap-2">
      <button type="submit" class="btn btn-dark"><b>Log in</b></button>
      </div>
      <p class="mt-3 mb-0 text-muted" style="word-wrap: break-word; width: 300px;">
        <small>
          {{ response_login | randomed }}
        </small> 
        <a href="/accounts/register" class="text-reset">
          <b>Join</b>
        </a>
      </p>
    </form>
  </div>
</div>
{% endblock %}