{% extends "base.html" %}

{% block title %}404{% endblock %}
{% block main %}
<div class="container d-flex justify-content-center align-items-center mx-auto">
  <div class="mainwrap mt-5" id="notfound">
    <div class="card p-3 border-0 text-dark">
        <h3>{{ not_found_header | randomed }}</h3>
        <div id="notfoundwrap">
          <p class="text-secondary">
            {{ not_found_paragraph | randomed }}
          </p>
        </div>
        <img 
        src="{{ url_for('static', filename='img/bye.png') }}" 
        height="250"
        class="m-auto mt-5 mb-3"
        >
    </div>
  </div>
</div>
{% endblock %}